<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Style Transfer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <form method="POST" enctype="multipart/form-data">
        <div class="form-container">
            <div class="drop-zone-parent">

                <div class="drop-zone" id="style-dropzone">
                    <div class="image-box" id="style-image-box"></div>

                    <input type="file" id="style" name="style" accept="image/*" style="display: none;">
                    <label for="style" class="upload-btn">Choose Style Image</label>
                </div>

                <div class="drop-zone" id="content-dropzone">
                    <div class="image-box" id="content-image-box"></div>

                    <input type="file" id="content" name="content" accept="image/*" style="display: none;">
                    <label for="content" class="upload-btn">Choose Content Image</label>
                </div>
            </div>
    
            <input type="submit" id="submit" style="display: none;">
            <label for="submit" class="transfer-btn">Apply Style Transfer</label>
        </div>
    </form>
    
    {% if output_image %}
        <h2>Output Image:</h2>
        <img src="{{ url_for('output_file', filename='output_image.jpg') }}" alt="Output Image" style="max-width: 100%; height: auto;">
    {% endif %}

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
