<!doctype html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
  </head>
  <body style="margin: 0;">
    <div class="global_flex">
      <nav class="nav">
        <div class="name_logo" style="display: flex; align-items: center;">
          <a href="upload.html" class="title">Arbitrary Style Transfer</a>
          <img src="opacity_12056793.png" style="margin-left: 10px;" width="40px" height="35px">
        </div>
        <img src="GitHub-Logo.png" class="gitlogo" width="65px" height="35px">
      </nav>
      
      <div class="nav_below_flex">
        <div class="introduce_flex">
          <img src="image-removebg-preview.png" alt="Introduce img" class="introimg" width="470px" >
          <p class="title1">Transform your photo into <br> any style you want! </p>
          <p class="title2-container">
            <img src="highlight.png" class="highlight" alt="highlight" width="80px", height="40px">
            <span class="title2">100% Automatically and &nbsp;Free</span>
          </p>
        </div>
        <div class="started_flex">
          <img src="flag.png" class="flag" width="400px" height="300px">
          <div class="started_1_flex">
            <a href="main.html" class="start_btn">Get started</a>
            <p class="title3">You don't have any image? Don't worry</p>
            <div class="started_2_flex">
              <img src="OIP.jpeg" width="100px" height="100px" class="img_sample">
              <img src="OIP (1).jpeg" width="100px" height="100px" class="img_sample">
              <img src="lenna.png" width="100px" height="100px" class="img_sample">
              <img src="style_img_1.jpg" width="100px" height="100px" class="img_sample">
            </div>
          </div>
        </div>
      </div>
    </div>
  </body> 
</html>
