<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Style Transfer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

    <!-- title -->
    <nav class="nav">
        <div style="display: flex; align-items: center;">
          <a href="{{ url_for('introduce') }}" class="title">Arbitrary Style Transfer</a>
          <img src="../static/images/img4web/opacity_12056793.png" style="margin-left: 10px;" width="40px" height="35px">
        </div>
        <img src="../static/images/img4web/GitHub-Logo.png" class="gitlogo" width="65px" height="35px">
    </nav>
  
    <!-- Let's get started -->
    <div id="typingEffect" style="font-size: 40px; text-align: center; height: 100px; font-family: Montserrat; margin-top: 50px; margin-bottom: 25px; font-weight: 600;"></div>

    <!-- Direct to result page animation -->
    <div id="overlay" style="display: none;">
        <div class="container">
            <div class="📦"></div>
            <div class="📦"></div>
            <div class="📦"></div>
            <div class="📦"></div>
            <div class="📦"></div>
        </div>
    </div>
    
    <form method="POST" enctype="multipart/form-data" class="main-container">

        <!-- Upload frame -->
        <div class="upload-container">

            <!-- Content frame -->
            <div class="box-with-name">

                <!-- Content box -->
                <p class="box-title">Content image</p>
                <div class="image-box" id="content-dropzone">
                    <div class="image-container"></div> 
                    <input type="file" id="content" name="content" accept="image/*" style="display: none;">
                    <label for="content" class="upload-btn">Upload image</label>
                    <p style="  margin-top: 10px; font-size: 16px; color: #6c757d; z-index: 2;">or drop here</p>
                </div>
                
                <!-- Example content -->
                <p style="font-family: Montserrat;  margin-top: 10px; font-size: 16px; color: #6c757d; z-index: 2;">You don't have image?</p>

                <div class="image-gallery">
                    <div class="started_2_flex"></div>
                    <button class="see-more-btn" id="see-more-btn1">See more</button>
                    <button class="see-more-btn hidden" id="hide-btn1">Hide</button>
                </div>
            </div>

            <!-- Style frame -->
            <div class="box-with-name">

                <!-- Style box -->
                <p class="box-title">Style image</p>
                <div class="image-box" id="style-dropzone">
                    <div class="image-container"></div> 
                    <input type="file" id="style" name="style" accept="image/*" style="display: none;">
                    <label for="style" class="upload-btn">Upload image</label>
                    <p style="  margin-top: 10px; font-size: 16px; color: #6c757d; z-index: 2;">or drop here</p>
                </div>

                <!-- Example style -->
                <p style="font-family: Montserrat;  margin-top: 10px; font-size: 16px; color: #6c757d; z-index: 2;">You don't have image?</p>

                <div class="image-gallery">
                    <div class="started_3_flex"></div>
                    <button class="see-more-btn" id="see-more-btn2">See more</button>
                    <button class="see-more-btn hidden" id="hide-btn2">Hide</button>
                </div>

            </div>
        </div>

        <!-- Select method and transfer frame -->
        <div class="control-panel">

            <!-- Method selector -->
            <div class="dropdown">
                <div class="select" onclick="toggleMenu()">
                    <span class="selected">AdaAttN</span>
                    <div class="caret"></div>
                </div>
        
                <ul class="menu">
                    <li class="active">AdaAttN</li>
                    <li>AdaIN</li>
                    <li>TF-StyleTransfer</li>
                </ul>
            </div>

            <!-- Hidden input to hold selected method -->
            <input type="hidden" name="method" id="method" value="AdaAttN">

            <!-- Transfer button -->
            <input type="submit" id="submit" style="display: none;">
            <label for="submit" class="transfer-btn" id="transfer-btn">Apply Style Transfer</label>
        </div>

    </form>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>