<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Style Transfer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

    <nav class="nav">
        <div class="name_logo" style="display: flex; align-items: center;">
          <a href="upload.html" class="title">Arbitrary Style Transfer</a>
          <img src="../static/images/img4web/opacity_12056793.png" style="margin-left: 10px;" width="40px" height="35px">
        </div>
        <img src="../static/images/img4web/GitHub-Logo.png" class="gitlogo" width="65px" height="35px">
    </nav>

    <div class="typing-effect">
        <span id="typed-text"></span>
        <span class="cursor">|</span>
    </div>

    <form method="POST" enctype="multipart/form-data" class="main-container">
        <div class="upload-container">

            <div class="box-with-name">
                <p class="box-title">Style image</p>
                <div class="image-box" id="style-dropzone">
                    <div class="image-container"></div> 
                    <input type="file" id="style" name="style" accept="image/*" style="display: none;">
                    <label for="style" class="upload-btn">Upload image</label>
                    <p style="  margin-top: 10px; font-size: 16px; color: #6c757d; z-index: 2;">or drop here</p>
                </div>
                <p style="  margin-top: 10px; font-size: 16px; color: #6c757d; z-index: 2;">You don't have image?</p>

                <div class="image-gallery">
                    <div class="started_2_flex"></div>
                    <button class="see-more-btn" id="see-more-btn1">See more</button>
                    <button class="see-more-btn hidden" id="hide-btn1">Hide</button>
                </div>
            </div>

            <div class="box-with-name">
                <p class="box-title">Content image</p>
                <div class="image-box" id="content-dropzone">
                    <div class="image-container"></div> 
                    <input type="file" id="content" name="content" accept="image/*" style="display: none;">
                    <label for="content" class="upload-btn">Upload image</label>
                    <p style="  margin-top: 10px; font-size: 16px; color: #6c757d; z-index: 2;">or drop here</p>
                </div>
                <p style="  margin-top: 10px; font-size: 16px; color: #6c757d; z-index: 2;">You don't have image?</p>

                <div class="image-gallery">
                    <div class="started_3_flex"></div>
                    <button class="see-more-btn" id="see-more-btn2">See more</button>
                    <button class="see-more-btn hidden" id="hide-btn2">Hide</button>         
                </div>
            </div>

        </div>
        

        <input type="submit" id="submit" style="display: none;">
        <label for="submit" class="transfer-btn">Apply Style Transfer</label>
    </form>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>